@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
}

html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    height: 90vh;
    width: 100vw;
}

a{
    color: #941C2F;
    text-decoration: none;
}

a:hover{
    color: white;
}

header{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

#logo {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    gap: 70px;

}

li{
    list-style: none;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;

}

li:hover{
    background-color: #3b0b12;
}

#main-content{
    width: 100%;
    height: 100%;
}

#start{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* BUTTONS */

#red-button{
    display: flex;
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: white;
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color:#941C2F;
    box-shadow: #3b0b12 8px 7px;
    position:relative;
    margin: 0 30px 40px 30px;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    /* animation set up*/
    animation: roll-out 3s linear ;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#red-button:hover{
    transform: scale(1.2);
}

#gray-button{
    display: flex;
    font-family: "Nunito", sans-serif;
    font-size: 10px;
    font-weight: 800;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: gray;
    box-shadow: rgb(60, 60, 60) 5px 3px;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 3px;
    text-align: center;
    transition: transform .2s;
    /* animation set up*/
    animation: drop-down 3s linear ;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#gray-button:hover{
    transform: scale(1.2);
}

/* RED CARD STYLING */
#red-choice{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 600px;
    width: 100%;

    padding: 10px;
    margin-bottom: 5px;
}

.red-card{
    height: 340px;
    width: 250px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.red-card-front,
.red-card-back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: wheat;
    position: absolute;
    transform: rotateX(0deg);
}

.red-card-front{
    background-color: #941C2F;
    box-shadow: 14px 12px 13px -8px rgba(70,13,22,0.44);
    z-index:2;
    backface-visibility: hidden;
}

.red-card-back{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    background-color: #d44459;
    box-shadow: 14px 12px 13px -8px rgba(70,13,22,0.44);
    z-index: 1;
    transform: rotateY(180deg);
}

.red-container:hover .red-card{
    transform: rotateY(180deg);
}

.red-container{
    perspective: 1000px;
}

/* GREY CARDS STYLING*/
#gray-choice{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 600px;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

.gray-card{
    height: 340px;
    width: 250px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.gray-card-front,
.gray-card-back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: wheat;
    position: absolute;
    transform: rotateX(0deg);
}

.gray-card-front{
    background-color: rgb(61, 58, 58);
    box-shadow: 14px 12px 13px -8px rgba(74, 74, 74, 0.44);
    z-index:2;
    backface-visibility: hidden;
}

.gray-card-back{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    background-color: rgb(145, 132, 132);
    box-shadow: 14px 12px 13px -8px rgba(74, 74, 74, 0.44);
    z-index: 1;
    transform: rotateY(180deg);
}

img{
    width: auto;
    height: 200px;
}

.gray-container:hover .gray-card{
    transform: rotateY(180deg);
}

.gray-container{
    perspective: 1000px;
}

#footer{
    position: sticky;
    bottom: 0;
    background-color: #3b0b12;
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ANIMATIONS*/

@keyframes roll-out {
    0%{
        transform: translate(0,0);
    }

    25%{
        transform: translate(3em,0);
    }

    50%{
        transform: translate(6em,0);
    }

    75%{
        transform: translate(12em,0);
    }

    100%{
        transform: translate(24em,0);
    }
}

@keyframes drop-down {
    0%{
        transform: translate(0,0);
    }

    25%{
        transform: translate(0,3em);
    }

    50%{
        transform: translate(0,6em);
    }

    75%{
        transform: translate(0,12em);
    }

    100%{
        transform: translate(0,24em);
    }
}